html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
    /*background-image: linear-gradient(-220deg, #272f4b 0%, #1a1f36 41%, #15152d 64%, #211841 96%);*/
    background-color: #1C2139;
    .site-content {
    	background-image: linear-gradient(#1C2139 0%, #1E2648 30%, #232754 60%,#242A58 100%);
    }
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}
