@white: #fff;
@text-color: #293F59;
@primary-color: #242828;
@secondary-color: #00E8B4;
@border-color: #d8d8d8;
@body-bg: #fff;
@header-bg: #242828;

@body-font-family: 'Roboto', sans-serif;
@body-line-height: 1.5;
@font-size-base: 15px;

@heading-line-height: 1.5;
@heading-font-family: 'Open Sans', 'Arial', 'sans-serif';
@page-title-size: 36px;

@menu-font-size: 18px;
@sub-menu-font-size: 16px;
@menu-font-family: 'Open Sans', 'Arial', 'sans-serif';

@footer-bg: #211736;