.tomo-archive-wrapper,
.tomochain-roadmap-main,
.tomochain-dapp-main {

    .archive-posts {
        @extend %transit;
    }

    &.loading {
        position: relative;
        text-align: center;

        &:before {
            content: url(assets/images/loading.svg) !important;
            display: block;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%) scale(1.5);
        }

        .archive-posts,
        .dapp-posts {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.tomo-categories-filter,
.tomochain-roadmap-filter,
.tomochain-dapp-filter {
    margin: 0 0 30px;
    padding: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }

    li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 20px;
        padding: 0;
        @include media-breakpoint-up(md) {
            margin-left: 50px;
        }

        &:first-child {
            margin-left: 0;
        }

        a {
            position: relative;
            display: block;
            font-size: 16px;
            text-transform: capitalize;
            color: #9eaacc;
            padding-bottom: 10px;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 40px;
                height: 2px;
                transition: transform .5s cubic-bezier(.8, 0, .2, 1);
                transform: scale3d(0, 1, 1);
                transform-origin: 100% 50%;
                background-color: #e68b71;
            }
        }

        &.selected,
        &:hover {

            a {
                color:#fff;

                &:after {
                    transform: scale3d(1,1,1);
                    transform-origin: 0 50%;
                }
            }
        }
    }
}
