.tomo-archive-wrapper {

    .archive-posts {
        @extend %transit;
    }

    &.loading {
        position: relative;
        text-align: center;

        &:before {
            content: url(assets/images/loading.svg) !important;
            display: block;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%) scale(1.5);
        }

        .archive-posts {
            opacity: 0;
            visibility: hidden;
        }
    }
}
