

.tomo_detail {

    //search silebar
    .search-form {
        border-bottom: 1px solid #9eaacc;
        position: relative;

        label {
            display: block;
            padding-right: 50px;
        }

        input[type=search],
        input[type=submit] {
            background: transparent;
            border: 0;
            padding: 0;
            &::placeholder {
              color: #9eaacc;
              font-size: 14px;
              font-family: 'Quicksand', sans-serif;
            }
        }

        input[type=submit] {
            background: url(assets/images/icon_search.svg) no-repeat 95%;
            background-size: 14px auto;
            border-radius: 0;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0;
            height: 100%;
            width: 50px;
        }
    }
}
