.site-header {
    position: relative;
    transition: all .5s ease, background 1.2s ease;
    padding: 20px 0;

    @extend %transit;

    > .container > .row {
        display: table;
        margin: 0;
        width: 100%;
    }

    .site-branding,
    .header-tools {
        display: table-cell;
        vertical-align: middle;
    }

    .site-branding {

        img {
            max-width: 40px;
            padding: 10px 0;

            @extend %transit;
        }
    }

    .header-tools {
        text-align: right;
        font-size: 0;

        > div {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
    }

    &.headroom--not-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        will-change: transform;
        padding: 0;
        z-index: 999;
        transform: translateY(0);
        background-color: #202741;

        .admin-bar & {
            top: 32px;
        }

        img {
            padding: 0;
            max-width: 35px;
        }

        .main-menu .menu > ul > li > a,
        .main-menu .menu > li > a {
            height: 50px;
            line-height: 50px;
        }

        .main-menu .menu > ul > li span.menu-item-text:after,
        .main-menu .menu > li span.menu-item-text:after {
            bottom: -15px;
        }
    }

    &.headroom--unpinned {
        transform: translateY(-100%);
    }

    @include media-breakpoint-up(lg) {

        .site-branding {
            width: 10%;
        }

        .header-tools {
            width: 10%;
        }
    }
}
