.site-header {
    position: relative;
    transition: all .5s ease, background 1.2s ease;

    > .container > .row {
        display: table;
        margin: 0;
        width: 100%;
    }

    .site-branding,
    .header-tools {
        display: table-cell;
        vertical-align: middle;
    }

    .site-branding {

        img {
            max-width: 40px;
            padding: 10px 0;
        }
    }

    .header-tools {
        text-align: right;
        font-size: 0;

        > div {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
    }

    @include media-breakpoint-up(lg) {

        .site-branding {
            width: 20%;

            img {
                max-width: none;
            }
        }
    }
}
