.tomochain-image-carousel {
    margin: 30px 0;

    .slick-slide {
        display: inline-block;
        vertical-align: middle;
        float: none;
        text-align: center;
        padding: 0 15px;
    }

    .slick-slide img {
        display: inline-block;
        vertical-align: middle;
    }

    @include media-breakpoint-up(lg) {

        .slick-slide {
            text-align: left;
        }
    }
}
