.tomochain-lang-switcher-wrapper {

    &.loading {
        .nice-select {
            &:after {
                top: 4px;
                left: -25px;
                content: url(assets/images/loading.svg) !important;
                background-color: transparent !important;
                transform: scale(.7);
                width: 100%;
            }
        }
    }

    .nice-select {
        padding-right: 0;

        .list {
            padding: 10px 5px;
            background-color: #202640;
            border-radius: 6px;
        }

        .option:hover,
        .option.focus,
        .option.selected.focus {
            color: #dee2ee;
        }
    }

    select {
        display: none;
    }
}
