.main-menu {
    font-family: 'Quicksand';
    position: relative;
    display: table-cell;
    vertical-align: middle;

    .menu > ul,
    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }

    .menu > ul > li,
    .menu > li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;

        > a {
            position: relative;
            display: inline-block;
            line-height: 60px;
            height: 60px;
            padding: 0 25px;
        }

        span.menu-item-text {
            position: relative;
        }

        span.menu-item-text:after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            max-width: 40px;
            height: 2px;
            transition: transform .5s cubic-bezier(.8, 0, .2, 1);
            transform: scale3d(0, 1, 1);
            transform-origin: 100% 50%;
            background-color: #e68b71;
        }
    }

    .menu li.page_item,
    .menu li.menu-item {

        &:hover {

            > a {
                color: #e68b71;
            }

            span.menu-item-text:after {
                transform: scale3d(1, 1, 1);
                transform-origin: 0% 50%;
            }

            > .children,
            > .sub-menu {
                display: block;
            }
        }

        &.page_item_has_children,
        &.menu-item-has-children {

            > a:before {
                content: fa-content($fa-var-angle-down);
                font-size: 12px;
                position: absolute;
                top: 50%;
                right: 10px;
                opacity: .6;
                transform: translateY(-50%);

                @extend .fas;
                @extend %transit;
            }
        }
    }

    .menu li.current-menu-parent,
    .menu li.current_page_item,
    .menu li.current-menu-item {

        span.menu-item-text:after {
            transform: scale3d(1, 1, 1);
            transform-origin: 0% 50%;
        }
    }

    .menu > ul > li .children,
    .menu > li .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 25px;
        width: 100%;
        min-width: 200px;
        list-style: none;
        text-align: left;
        animation-duration: .6s;
        transition: left .5s ease, right .5s ease;
        margin: 0;
        padding: 0;
        z-index: 999;
    }

    .menu > ul > li .children li.page_item,
    .menu > li .sub-menu li.menu-item {
        position: relative;
        display: block;
        line-height: 1.5;

        &:hover {

            > a {
                color: $color__link-hover;
            }
        }

        &.page_item_has_children,
        &.menu-item-has-children {

            > a:before {
                display: none;
            }

            &:after {
                content: fa-content($fa-var-angle-right);
                position: absolute;
                top: 50%;
                right: 30px;
                background-color: transparent !important;
                margin: -1px;
                transform: translateY(-50%);

                @extend .fas;
                @extend %transit;
            }
        }

        a {
            display: block;
            color: #434f73;
            padding: 5px 0;
        }

        span.menu-item-text:after {
            display: none;
		}

        .children,
        .sub-menu {
            top: 0;
            left: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        text-align: center;
    }
}
