.tomochain-pagination {
    margin-bottom: 80px;

    &.woocommerce-pagination {
        margin-bottom: 30px;
    }
}

.tomochain-pagination ul.page-numbers {
    font-size: 0;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tomochain-pagination ul.page-numbers {
    a {
        font-weight: 500;
    }
}

.tomochain-pagination ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 100%;
    margin: 0 10px;
}

.tomochain-pagination ul li span {
    display: block;
    width: 15px;
    line-height: 1.7;
}

.tomochain-pagination .current,
.tomochain-pagination ul li a {
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        top: 100%;
        left: 0;
        margin-top: -3px;
        background-color: rgba(51, 51, 51, 0.2);
    }
}

.tomochain-pagination .current {
    position: relative;
    color: #808aa9;
    font-weight: 500;
}

.tomochain-pagination ul li a {
    position: relative;
    display: block;
    width: 15px;
    line-height: 1.7;

    &:after {
        opacity: 0;
        visibility: hidden;

        @extend %transit;
    }

    &:hover {
        color: #ebeaf5;

        @include transit;
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.tomochain-pagination .prev,
.tomochain-pagination .next {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:after {
        display: none;
    }
}

.woocommerce-pagination {
    margin-top: 30px;

    .shop-full-width-no-space & {
        margin-top: 80px;
    }

    @extend .tomochain-pagination;
}
