
.post-thumbnail {
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
    display: block;
    overflow: hidden;
    transition: all .5s ease;
    img {
        @extend %transit;
    }

    body.single & {
        margin-bottom: 20px;
    }
}

article.post-loop {
    margin-bottom: 50px;

    .entry-img {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 25px;
        min-height: 175px;
        overflow: hidden;
        /*img {
            min-height: 175px;
            object-fit: cover;

            @extend %transit;
        }*/

        /*@include media-breakpoint-up(sm) {
            margin-bottom: 20px;
        }*/
    }

    .entry-title {

        @include media-breakpoint-up(md) {
            font-size: 20px;
        }

        span.event-venue {
            font-size: 16px;
            color: #808aa9;
        }

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }
    &:hover {
        .post-thumbnail {
            transform: scale(1.04);
        }
    }
    /*&:hover .entry-img img {
        transform: scale(1.04);
    }*/
}

.post-navigation {

    margin-bottom: 80px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
    }
}

.entry-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #ebeaf5;
    margin-top: 0;
    margin-bottom: 10px;

    a {
        color: #ebeaf5;
    }

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}

.entry-meta {
    margin-bottom: 10px;

    > span {
        display: inline-block;
        color: #808aa9;
        margin-right: 15px;
    }

    a {
        color: #808aa9;
    }

    a:hover {
        color: #ebeaf5;
    }

    span:before {
        display: inline-block;
        vertical-align: baseline;
        font-size: 16px;
        font-weight: 400;
        margin-right: 8px;

        @extend .fas;
    }

    span.byline:before {
        margin-right: 4px;
        content: fa-content($fa-var-user);
    }

    span.posted-on:before {
        content: fa-content($fa-var-calendar-alt);
    }

    span.categories:before {
        content: fa-content($fa-var-folder-open);
    }
}

.entry-content {
    font-size: 14px;
    line-height: 23px;
}
