.site-content {
	position: relative;
	overflow: hidden;
    background-color: #ffffff;

    @extend %transit;

    &:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0;
		background: rgba(35, 35, 44, .5);

		@extend %transit;
    }
    
    body.mobile-menu-opened &,
	body.wishlist-opened &,
	body.minicart-opened &,
	body.search-opened &,
	body.quick-view-opened &,
	body.offcanvas-sidebar-opened & {

		&:after {
			opacity: 1;
			z-index: 999;
		}
	}
}