.social-links {

    .social-links__link {
        @extend %transit;

        span {
            font-size: 0;
        }

        &:hover {
            color: #fff;
        }
    }


    .site-mobile-menu-wrapper & {
        padding-left: 20px;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 0;

        .social-links__items {
            margin-bottom: .5em;
        }
    }
}
