/**========================
Homepage Enterprise
=======================***/
.page-template-tmp-enterprise {
	background: #fff;
	color: #151515;
	font-family: "Open Sans",Arial,sans-serif!important;
	font-size: 14px;
	a {
		text-decoration: none!important;
	}
	.vc_custom_heading {
		font-family: "Open Sans",Arial,sans-serif;
		font-weight: bold;
		margin-top: 0;
		@media screen and (max-width: 767px) {
			font-size: 2em;
		}
	}
	.container_fluid {
		overflow: hidden;
		.post-password-form {
			margin: 200px 15px;
			text-align: center;
			input {
				padding: 0.5em 2em;
				font-size: 14px;
				border-radius: 3px;
				line-height: 1;
				border: 0;
				height: 50px;
			}
		}
	}
	.container {
		margin-left: auto!important;
		margin-right: auto!important;
		&.vc_column_container {
			padding-left: 15px;
			padding-right: 15px;
		}
		>.wpb_column>.vc_column-inner {
			padding: 0;
		}
	}
	.entry-content {
		margin-top: 0;
	}
	&.admin-bar {
		.enterprise {
			.site-header {
				&.headroom--top {
					top: 32px;
				}
			}
		}
	}
	.box-btn {
		a {
			font-weight: 600;
		}
		@media screen and (max-width: 767px) {
			.vc_btn3-inline {
				display: block;
				a {
					display: block;
					text-align: center;
				}
			}
		}
		.btn-view-document {
			a {
				border: 1px solid #151515;
				color: #151515!important;
			}
			@media screen and (min-width: 768px) {
				margin-left: 15px;
			}
		}
		.btn-download-deck {
		}
	}
	.slick-dots {
		margin: 0;
		li button {
			background: #333;
		}
	}
	@media screen and (max-width: 767px) {
		.txt_item {
			padding: 0;
			margin: 25px 0;
			text-align: center;
			h3 {
				color: #151515;
				margin-bottom: 0;
				font-size: 18px;
				font-weight: bold;
			}
			p {
				margin: 0;
				margin-top: 15px;
			}
		}
	}
	.modal-footer {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		.btn-secondary {
			background: transparent!important;
			border: 0;
			cursor: pointer;
			color: #424e73;
			font-weight: bold;
			&:before {
				content: '\e905';
				font-size: 16px;
				font-family: tomochain;
			}
			&:hover {
				color: #868ea4;
			}
		}
	}
}

.enterprise {
	.site-header {
		@media screen and (min-width: 992px) {
			border-bottom: 1px solid rgba(#e4e4e4, 0.3);
		}
		.enter-logo {
			img {
				max-width: 120px;
			}
		}
		.main-menu .menu>li>a {
			color: #fff;
			@media screen and (max-width: 1024px) and (min-width: 992px) {
				padding: 0 15px;
			}
		}
		.header-tools {
			@media screen and (min-width: 992px) {
				width: 7%;
			}
			.current {
				color: #fff;
			}
			.nice-select {
				text-transform: capitalize;
				&:after {
					color: #fff;
				}
			}
			ul {
				li {
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(n+5) {
						display: none;
					}
				}
			}
		}
	}//site-header
	.site-content-enterprise {
		background: transparent;
		position: inherit;
		overflow: inherit;
		padding-top: 0;
		min-height: 500px;
		.vc_column_container {
			position: inherit;
		}
		.main-banner-enter {
			position: relative;
			height: 100vh;
			overflow: hidden;
			.banner_enter_slide {
				margin-bottom: 0!important;
				.wpb_wrapper {
					display: flex;
					justify-content: center;
				}
				img {
					height: -webkit-fill-available;
					max-width: initial;
					@media screen and (min-width: 1025px) {
						max-width: 100%;
					}
				}
			}
			.content_banner {
				position: absolute;
				height: 100%;
				top: 0px;
				left: 0;
				margin: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 9;
				@media screen and (max-width: 767px) {
					text-align: center;
					.wpb_content_element {
						margin-bottom: 25px;
					}
					.vc_empty_space {
						height: 15px!important;
					}
					h1 {
						font-size: 24px;
					}
				}
			}
		}
	}//site-content-enterprise
	.site-footer {
		background: #fff;
		border-top: 1px solid #e4e4e4;
		* {
			color: #151515;
		}
		.tomochain-name,
		.address-title {
			font-weight: bold;
		}
		.widget_nav_menu ul a {
			&:hover {
				color: #a2a2a2;
			}
		}
		#tomo-sendgrid-email {
			background-color: #f2f2f2;
			border-radius: 0;
		}
		#tomo-sendgrid-button {
			&:after {
				background: none;
			}
			&:before {
				background: none;
				content: "→";
				color: #151515;
				font-size: 24px;
				line-height: 1.8;
				font-family: monospace;
			}
			&:hover {
				&:before {
					color: #ff7b4d;
					transition: all .5s ease;
				}
			}
		}
	}//site-footer
}
.flexbox_solutions {
	position: relative;
	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: row-reverse;
		align-items: baseline;
		.tomochain_solutions_use {
			width: 50%;
		}
		.tomochain_slider_nav {
			width: 50%;
			padding-right: 30px;
			@media screen and (min-width: 1440px) {
				padding-right: 100px;
			}
			.slick-list {
				height: auto!important;
				overflow: inherit;
			}
			.txt_item {
				padding: 0;
				margin: 15px 0;
				&:last-child {
					margin-bottom: 0;
				}
				.solutions {
					font-size: 14px;
					position: relative;
					margin-bottom: 0;
					display: inline-block;
					color: #151515;
					h3 {
						color: #151515;
						margin-bottom: 15px;
						font-size: 18px;
						font-weight: bold;
					}
					p {
						margin: 0;
					}
				}
				&.slick-current {
					h3 {
						color: #ff7c4d;
						&:before {
							content: "→";
							font-size: 24px;
							line-height: .9;
							position: absolute;
							width: 30px;
							height: 30px;
							top: 0px;
							left: -30px;
							font-family: "monospace";
							transition: all .4s ease;
						}
					}
					p {
						color: #5b5b5b;
					}
				}
			}
		}
	}
	.tomochain_solutions_use {
		@media screen and (min-width: 768px) {
			&:before {
				content: '';
				background-color: #f3f3f3;
				width: 1500px;
				height: 300px;
				position: absolute;
				bottom: -7em;
				left: 70%;
				z-index: -1;
			}
		}
		.photo_item {
			@media screen and (min-width: 768px) {
				width: 100%!important;
				position: absolute!important;
				top: 0!important;
				left: 0!important;
				&.slick-current {
					position: relative!important;
				}
			}
		}
	}
}

.flexbox_tecnologies {
	position: relative;
	.tomochain_tecnologies_use {
	.slick-track {
		@media screen and (min-width: 768px) {
			width: 100%!important;
		}
	}
		.photo_item {
			iframe {
				width: 100%;
				height: 450px;
				border: 0;
				@media screen and (max-width: 767px) {
					height: 250px;
				}
			}
			@media screen and (min-width: 768px) {
				width: 100%!important;
				position: absolute!important;
				top: 0!important;
				left: 0!important;
				&.slick-current {
					position: relative!important;
				}
			}
		}
	}
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		.tomochain_tecnologies_use {
			width: 70%;
		}
		.tomochain_slider_tecnologies {
			width: 30%;
			padding-left: 25px;
			.slick-list {
				height: auto!important;
			}
			.txt_item {
				padding: 0;
				margin: 15px 0;
				&:last-child {
					margin-bottom: 0;
				}
				.tecnologies {
					font-size: 14px;
					position: relative;
					padding-left: 25px;
					margin-bottom: 0;
					display: inline-block;
					color: #151515;
					h3 {
						color: #151515;
						margin-bottom: 15px;
						font-size: 16px;
						margin-bottom: 0;
					}
					p {
						margin: 0;
					}
				}
				&.slick-current {
					h3 {
						color: #ff7c4d;
						font-weight: bold;
						&:before {
							content: "→";
							font-size: 24px;
							line-height: .7;
							position: absolute;
							width: 30px;
							height: 30px;
							top: 0px;
							left: 0;
							font-family: "monospace";
							transition: all .4s ease;
						}
					}
					p {
						color: #5b5b5b;
					}
				}
			}
		}
	}
	@media screen and (max-width: 991px) and (min-width: 768px) {
		.tomochain_slider_tecnologies {
			width: 45%!important;
		}
		.tomochain_tecnologies_use {
			width: 55%!important;
		}
	}
}

.btn_tmp_white {
	a {
		font-weight: bold;
	}
}
.margin_tb {
	margin: 15px 0!important;
	@media screen and (max-width: 767px) {
		margin: 10px 0!important;
	}
}
.page-template-tmp-enterprise {
	.con_publications {
		.vc_custom_heading {
			text-align: left!important;
		}
		.read_more {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@media screen and (min-width: 992px) {
				font-weight: bold;
			}
			&:after {
				background: none;
				content: "→";
				font-size: 20px;
				line-height: 1;
				font-family: monospace;
				/*position: absolute;*/
				margin-left: 5px;
				right: 0;
				top: 0;
			}
		}
		.box-item {
			@media screen and (min-width: 992px) {
				display: flex;
				.box-inner {
					>.vc_column-inner {
						height: 100%;
						>.wpb_wrapper {
							height: 100%;
							position: relative;
							overflow: hidden;
							z-index: 1;
							&:before {
								content: '';
								background: #f3f3f3;
								position: absolute;
								left: 15px;
								bottom: 0;
								z-index: -1;
								width: calc(100% - 15px);
								height: 100%;
							}
						}
					}
				}
			}
			.box-inner {
				@media screen and (max-width: 991px) {
					margin-bottom: 15px;
					padding-bottom: 15px;
					border-bottom: 1px solid #f2f2f2;
					>div >.wpb_wrapper {
						display: flex;

					}
				}
			}
			.wpb_single_image {
				margin-bottom: 0!important;
				position: relative;
				&:before {
					content: '';
					background: #151515;
					width: 20px;
					height: 20px;
					z-index: -1;
					bottom: -10px;
					left: 4px;
					position: absolute;
					transform: rotate(45deg);
				}
				@media screen and (max-width: 991px) {
					width: 40%;
					&:before {
						top: 5px;
						right: -10px;
						left: inherit;
						bottom: inherit;
					}
					.vc_single_image-wrapper {
						display: flex;
						overflow: hidden;
						justify-content: center;
						align-items: center;
					}
					img {
						max-width: 160%;
						width: initial;
					}
				}
			}
			.txt-content {
				background: #f3f3f3;
				padding: 25px 20px;
				margin-left: 15px;
				margin-bottom: 0;
				@media screen and (max-width: 991px) {
					width: 60%;
					padding: 15px;
					margin: 15px 0 0;
				}
				@media screen and (max-width: 767px) {
					padding: 10px 15px;
					margin: 7px 0 0;
				}
				a {
					font-size: 16px;
					font-weight: bold;
					@media screen and (max-width: 767px) {
						font-size: 13px;
						line-height: 1.3;
						display: block;
						font-weight: 600;
					}
					&:hover {
						color: #5b5b5b;
					}
				}
				p {
					margin-bottom: 10px;
					@media screen and (max-width: 767px) {
						font-size: 13px;
						margin-bottom: 0;
						&:first-child {
							margin-bottom: 5px;
						}
						&:last-child {
							display: none;
						}
					}
				}
			}
		}
	}
}
.page-template-tmp-enterprise {
	.con_get_touch {
		position: relative;
		.box_img_touch {
			margin-bottom: 0;
			@media screen and (max-width: 767px) {
				.vc_single_image-wrapper {
					display: grid;
					justify-content: right;
				}
				img {
					height: 200px;
					max-width: initial;
					width: initial;
				}
			}
		}
		.content_touch {
			@media screen and (min-width: 768px) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
			}
			@media screen and (max-width: 767px) {
				padding: 25px 0 0;
				text-align: center;
				.btn-enterprise {
					.btn-primary {
						background: #151515;
						color: #fff;
					}
				}
			}
			.container {
				position: relative!important;
				float: inherit!important;
				.wpb_content_element {
					@media screen and (max-width: 991px) {
						margin-bottom: 15px;
					}
				}
				.txt_desc_touch {
					color: #fff;
					line-height: 1.3;
					font-size: 28px;
					font-weight: bold;
					@media screen and (max-width: 991px) {
						font-size: 16px;
						font-weight: normal;
					}
					@media screen and (max-width: 767px) {
						font-size: 14px;
						color: #151515;
					}
				}
				.btn_tmp_white {
					margin-bottom: 0;
					a {
						min-width: 250px;
					}
				}
			}
		}
	}
}

.btn-enterprise {
	.btn-primary {
		background: #ff7c4d;
		border: 0;
		border-radius: 0;
		padding: 1em;
		font-weight: 600;
		color: #fff;
		min-width: 250px;
		transition: all .5s ease;
		&:active, &:hover {
			background: #fff!important;
			color: #151515!important;
		}
	}
}
.page-template-tmp-enterprise {
	.vc_btn3.vc_btn3-color-black {
		background: #ff7c4d!important;
		color: #fff!important;
		border: 1px solid #ff7c4d!important;
		min-width: 240px;
		text-align: center;
		&:active, &:hover {
			background: #fff!important;
			color: #151515!important;
			border: 1px solid #151515!important;
		}
	}
	.vc_btn3.vc_btn3-color-white {
		background: #fff!important;
		color: #151515!important;
		border: 1px solid #151515!important;
		min-width: 240px;
		text-align: center;
		&:active, &:hover {
			background: #ff7c4d!important;
			color: #fff!important;
			border: 1px solid #ff7c4d!important;
		}
	}
}
// Form
.form-enterprise {
	.txt-tile {
		font-size: 18px;
		font-weight: bold;
		color: #151515;
		text-align: center;
	}
	.txt-desc {
		margin: 15px 0 30px;
		color: #151515;
		line-height: 18px;
		a {
			text-decoration: underline!important;
		}
	}
	@include media-breakpoint-down(sm) {
		.tomo-modal {
			padding: 15px;
		}
	}
	.form-group {
		margin-bottom: 1rem;
		::placeholder {
			font-size: 13px;
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			font-size: 13px;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
			font-size: 13px;
		}
		input,
		select,
		textarea {
			background: transparent;
			border-radius: 3px;
			border: 1px solid #cacaca;
			padding: .8em 1em;
			color: #151515;
			width: 100%;
			height: 45px;
		}
		textarea {
			height: 150px;
		}
		br {
			display: none;
		}
		.wpcf7-not-valid-tip {
			font-size: 12px;
		}
		&.flex-box-between {
			span {
				display: block;
			}
			select {
				margin-top: 5px;
			}
		}
	}
	.txt-note {
		margin: 0 0 15px;
		line-height: 1.4;
		font-style: italic;
	}
	.btn-submit {
		.enr-submit {
			background: #ff7c4d;
			border: 1px solid #ff7c4d;
			border-radius: 0;
			color: #fff;
			display: block;
			padding: 1em;
			width: 100%;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.4;
			transition: all .5s ease;
			&:active,
			&:hover {
				background: #e3673b!important;
				color: #fff;
			}
		}
	}
}
.page-template-tmp-enterprise {
	.con_social_emterprise {
		position: absolute;
	    width: 100%;
	    margin: -100px 0 0;
	    min-height: 100px;
	    z-index: 9;
	    .fa-facebook-f:before {
	    	content: "\f39e"!important;
	    }
		.social-links {
			margin: 0 -5px;
		}
	}
}
.con_media_section {
	.wpb_content_element {
	    margin-bottom: 15px!important;
	}
}

/**========================
Common enterprise inside
=======================***/
.enterprise-inside {
	@extend .enterprise;
	.site-header {
		position: relative!important;
		top: 0!important;
		&.headroom--not-top {
			position: fixed!important;
			background: #f2f2f2;
		}
		.main-menu .menu>li>a {
			color: #151515;
		}
		.header-tools {
			.current {
				color: #151515;
			}
			.nice-select {
				text-transform: capitalize;
				&:after {
					color: #151515;
				}
			}
			ul {
				background: #f2f2f2;
				li {
					color: #808080!important;
					&.focus,
					&:hover {
						color: #151515!important;
					}
				}
			}
		}
	}
}

/**========================
Homepage Enterprise publication
=======================***/
.page-template-tmp-enterprise-inside,
.page-template-tmp-enterprise-about,
.page-template-tmp-enterprise-inside-full {
	background: #fff;
	color: #151515;
	font-family: "Open Sans",Arial,sans-serif!important;
	font-size: 14px;
	a {
		text-decoration: none!important;
		display: inline-block;
	}
	.vc_custom_heading {
		font-family: "Open Sans",Arial,sans-serif;
		font-weight: bold;
		margin-top: 0;
		@media screen and (max-width: 767px) {
			font-size: 2em;
		}
	}
	.enter_nav {
		padding: 30px 0 0;
		@media screen and (max-width: 767px) {
			padding: 0;
		}
		span {
			&.current-item {
				color: #ff7c4d;
			}
			a {
				color: #2c2c2c;
				display: inline-block;
				position: relative;
				&:hover {
					text-decoration: underline!important;
				}
				&:after {
					content: ' / ';
				}
			}
		}
	}
	.enter_label {
		margin: 15px 0 50px;
		@media screen and (max-width: 767px) {
			margin: 15px 0 30px;
		}
		.row {
			align-items: center;
			.filter-category {
				select {
					display: none;
				}
				.select-selected {
					background-color: #f2f2f2;
					position: relative;
					font-family: Arial;
					&:after {
						position: absolute;
						content: '\e903';
						font-size: 7px;
						top: 16px;
						right: 10px;
						font-family: tomochain;
						transition: all .3s ease;
					}
					&.select-arrow-active:after {
						transform: rotate(-180deg);
					}
				}
				.select-items div,.select-selected {
					color: #151515;
					padding: 10px 20px;
					cursor: pointer;
					user-select: none;
				}
				.select-items {
					position: absolute;
					background-color: #f2f2f2;
					top: 100%;
					left: 0;
					right: 0;
					z-index: 99;
					div {
						border-top: 1px solid #e6e6e6;
					}
				}
				.select-hide {
					display: none;
				}
				.select-items div:hover, .same-as-selected {
					background-color: rgba(#666, 0.1);
				}
			}
		}
	}
	.post_filter_wrapper {
		.enter_type_post {
			@media screen and (min-width: 992px) {
				margin-top: 50px;
				&:first-child {
					width: 100%!important;
					max-width: 100%!important;
					min-width: 100%;
					display: block;
					margin-top: 0px;
					.enter_post_img {
						a {
							display: flex;
							align-items: center;
							justify-content: center;
							max-height: 500px;
							overflow: hidden;
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

// common enter_type_post
.single_subtitle_large {
	font-size: 34px;
	font-weight: bold;
	color: #151515;
	margin: 0;
	@media screen and (max-width: 767px) {
		font-size: 24px;
	}
}
.single_subtitle_medium {
	font-size: 24px;
	font-weight: bold;
	color: #151515;
	margin: 30px 0;
	@media screen and (max-width: 767px) {
		font-size: 18px;
	}
}
.shortcode_ohter_type_post {
	margin-bottom: 50px;
}
.shortcode_home_type_post {
	
}
.enter_type_post {
	@media screen and (min-width: 992px) {
		display: flex;
		.enter_wpb_wrapper {
			height: 100%;
			position: relative;
			overflow: hidden;
			z-index: 1;
			&:before {
				content: '';
				background: #f3f3f3;
				position: absolute;
				left: 15px;
				bottom: 0;
				z-index: -1;
				width: calc(100% - 15px);
				height: 100%;
			}
		}
	}
	@media screen and (max-width: 991px) {
		.enter_wpb_wrapper {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #f2f2f2;
			display: flex;
		}
		&:last-child {
			.enter_wpb_wrapper {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	&:last-child {
		.enter_wpb_wrapper {
			border-bottom: 0;
		}
	}
	.enter_post_img {
		margin-bottom: 0!important;
		position: relative;
		&:before {
			content: '';
			background: #151515;
			width: 20px;
			height: 20px;
			z-index: -1;
			bottom: -10px;
			left: 4px;
			position: absolute;
			transform: rotate(45deg);
		}
		@media screen and (max-width: 991px) {
			width: 30%;
			&:before {
				top: 5px;
				right: -10px;
				left: inherit;
				bottom: inherit;
			}
			a {
				display: flex;
				overflow: hidden;
				justify-content: center;
				align-items: center;
			}
			img {
				max-width: 160%;
				width: initial;
			}
		}
		@media screen and (max-width: 767px) {
			width: 40%;
		}
	}
	.enter_post_txt {
		background: #f3f3f3;
		padding: 25px 20px;
		margin-left: 15px;
		margin-bottom: 0;
		@media screen and (max-width: 991px) {
			width: 70%;
			padding: 15px;
			margin: 15px 0 0;
		}
		@media screen and (max-width: 767px) {
			width: 60%;
			padding: 10px 15px;
			margin: 7px 0 0;
		}
		.txt_title {
			a {
				font-size: 16px;
				font-weight: bold;
				@media screen and (max-width: 767px) {
					font-size: 13px;
					line-height: 1.3;
					display: block;
					font-weight: 600;
				}
				&:hover {
					color: #5b5b5b;
				}
			}
		}
		p {
			margin-bottom: 10px;
			@media screen and (max-width: 767px) {
				font-size: 13px;
				margin-bottom: 0;
				&:first-child {
					margin-bottom: 5px;
				}
				&:last-child {
					display: none;
				}
			}
		}
	}
	.txt_title a {
		color: #151515;
	}
	.txt_date {
		color: #ff7c4d;
		span {
			margin-left: 15px;
			@media screen and (max-width: 767px) {
				margin-left: 5px;
			}
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			color: #408ade;
			&:hover {
				color: #87b1e2;
			}
		}
	}
}

// paging
.paging-enterprise {
	margin-top: 50px;
	ul {
		li {
			margin: 0 1%;
			span {
				align-items: center;
				border: 1px solid #151515;
				display: flex;
				color: #151515!important;
				width: 35px!important;
				height: 35px!important;
				justify-content: center;
				transition: all .5s ease;
				* {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #151515!important;
				}
				&.current {
					background: #151515;
					color: #fff!important;
				}
				&:after {
					display: none!important;
				}
			}
			a {
				&:after {
					display: none!important;
				}
				&:hover {
					background: #151515;
					color: #fff!important;
					i {
						color: #fff!important;
					}
				}
			}
		}
	}
}

.post_faq {
	max-width: 800px;
	margin: 0 auto;
	.not_bd {
		@include media-breakpoint-up(md) {
			border: 0!important;
		}
	}
	.text-underline {
		a {
			text-decoration: underline;
		}
	}
	.item-faq {
		margin-bottom: 15px;
		.accordion {
			background: #f2f2f2;
			color: #151515;
			cursor: pointer;
			padding: 1.2em 2em;
			width: 100%;
			margin: 0;
			font-size: 16px;
			font-weight: bold;
			position: relative;
			transition: all .4s ease;
			line-height: 1.5;
			@include media-breakpoint-down(md) {
				font-size: 14px;
				padding: 1em;
				line-height: 1.4;
			}
			&:before {
				content: '↓';
				/*font-family: tomochain;*/
				font-size: 18px;
				color: #151515;
				position: absolute;
				top: 12px;
				right: 20px;
				transition: all .4s ease;
				@include media-breakpoint-down(md) {
					right: 5px;
				}
			}
			&.active {
				&:before {
					content: '↑';
					/*transform: translateY(-50%) rotate(-180deg);*/
				}
			}
		}
		.panel {
			background: #f2f2f2;
			color: #151515;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			.txt-answer {
				padding: 0 2em 1.2em;
				@include media-breakpoint-down(md) {
					padding: 0 1em 1em;
				}
			}
		}
	}
}

//About
.enterprise-inside {
	.tomochain-team {
		.tomochain-team-member__image {
			max-width: 100%;
			height: inherit;
			background: transparent;
			margin-bottom: 0;
			position: relative;
			&:before {
				content: '';
				background: #151515;
				width: 20px;
				height: 20px;
				z-index: -1;
				bottom: -10px;
				left: 4px;
				position: absolute;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			a {
				width: inherit;
				height: inherit;
				&:after {
					display: none;
				}
			}
			img {
				position: relative;
				opacity: 1;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				max-width: 400px;
				border-radius: 0;
				margin-top: 0;
				-webkit-box-shadow: 0 0 0 0;
				box-shadow: 0 0 0 0;
				z-index: 2;
				width: 100%;
			}
		}
		.tomochain-team-member__info {
			padding: 30px 15px 15px 15px;
			margin-left: 15px;
			text-align: left;
			.tomochain-team-member__name {
				color: #151515;
				font-weight: bold;
			}
			.tomochain-team-member__role {
				color: #606060;
				font-size: 12px;
			}
		}
		.tomochain-team-member:hover .tomochain-team-member__image img {
			margin-top: 0;
			opacity: 1;
		}
		.tomochain-team-member {
			text-align: center;
			margin: 0px 15px 50px;
			padding: 0;
			position: relative;
			&:after {
				content: '';
				left: 15px;
				width: calc(100% - 15px);
				height: 100%;
				top: 0;
				position: absolute;
				background: #f2f2f2;
				z-index: -1;
			}
		}
		.tomochain-team__see-all {
			background: transparent;
			color: #161530;
			&:before {
				display: none;
			}
			span {
				color: #161530;
				position: relative;
				display: flex;
				align-items: center;
				font-weight: bold;
				&:after {
				  content: "\e903";
				  font-family: tomochain;
				  font-size: 8px;
				  margin-left: 10px;
				}
			}
		}
		.tomochain-team__see-all--collapse span {
			display: none!important;
		}
		.team-member-info__description,
		.team-member-info__basic-info {
			color: #8b96b5;
		}
	}
}

/**========================
Homepage Enterprise inside full
=======================***/
.page-template-tmp-enterprise-inside-full {
	.container {
	    margin-left: auto!important;
	    margin-right: auto!important;
	    >div>.vc_column-inner {
	    	padding: 0!important;
	    }
	}
	@media screen and (max-width: 767px) {
		.txt_item {
			padding: 0;
			margin: 25px 0;
			text-align: center;
			h3 {
				color: #151515;
				margin-bottom: 0;
				font-size: 18px;
				font-weight: bold;
			}
			p {
				margin: 0;
				margin-top: 15px;
			}
		}
	}
	.site-content-enterprise {
		background: transparent;
		position: inherit;
		overflow: inherit;
		padding-top: 0;
		min-height: 500px;
		.vc_column_container {
			position: inherit;
		}
		.main-banner-enter {
			position: relative;
			height: 100vh;
			overflow: hidden;
			.banner_enter_slide {
				margin-bottom: 0!important;
				.wpb_wrapper {
					display: flex;
					justify-content: center;
				}
				img {
					height: -webkit-fill-available;
					max-width: initial;
					@media screen and (min-width: 1025px) {
						max-width: 100%;
					}
				}
			}
			.content_banner {
				position: absolute;
				height: 100%;
				top: 0px;
				left: 0;
				margin: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 9;
				@media screen and (max-width: 767px) {
					text-align: center;
					.wpb_content_element {
						margin-bottom: 25px;
					}
					.vc_empty_space {
						height: 15px!important;
					}
					h1 {
						font-size: 24px;
					}
				}
			}
		}
	}//site-content-enterprise
	.con_publications {
		.vc_custom_heading {
			text-align: left!important;
		}
		.read_more {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@media screen and (min-width: 992px) {
				font-weight: bold;
			}
			&:after {
				background: none;
				content: "→";
				font-size: 20px;
				line-height: 1;
				font-family: monospace;
				/*position: absolute;*/
				margin-left: 5px;
				right: 0;
				top: 0;
			}
		}
		.box-item {
			@media screen and (min-width: 992px) {
				display: flex;
				margin-right: -30px;
				margin-left: -30px;
				.box-inner {
					margin-bottom: 70px;
					>.vc_column-inner {
						height: 100%;
						padding-right: 30px;
						padding-left: 30px;
						>.wpb_wrapper {
							height: 100%;
							position: relative;
							overflow: hidden;
							z-index: 1;
							&:before {
								content: '';
								background: #f3f3f3;
								position: absolute;
								left: 15px;
								bottom: 0;
								z-index: -1;
								width: calc(100% - 15px);
								height: 100%;
							}
						}
					}
				}
			}
			.box-inner {
				@media screen and (max-width: 991px) {
					margin-bottom: 15px;
					padding-bottom: 15px;
					border-bottom: 1px solid #f2f2f2;
					>div >.wpb_wrapper {
						display: flex;

					}
				}
			}
			.wpb_single_image {
				margin-bottom: 0!important;
				position: relative;
				&:before {
					content: '';
					background: #151515;
					width: 20px;
					height: 20px;
					z-index: -1;
					bottom: -10px;
					left: 4px;
					position: absolute;
					transform: rotate(45deg);
				}
				@media screen and (max-width: 991px) {
					width: 40%;
					&:before {
						top: 5px;
						right: -10px;
						left: inherit;
						bottom: inherit;
					}
					.vc_single_image-wrapper {
						display: flex;
						overflow: hidden;
						justify-content: center;
						align-items: center;
					}
					img {
						max-width: 160%;
						width: initial;
					}
				}
			}
			.txt-content {
				background: #f3f3f3;
				padding: 25px 20px;
				margin-left: 15px;
				margin-bottom: 0;
				@media screen and (max-width: 991px) {
					width: 60%;
					padding: 15px;
					margin: 15px 0 0;
				}
				@media screen and (max-width: 767px) {
					padding: 10px 15px;
					margin: 7px 0 0;
				}
				a {
					font-size: 16px;
					font-weight: bold;
					@media screen and (max-width: 767px) {
						font-size: 13px;
						line-height: 1.3;
						display: block;
						font-weight: 600;
					}
					&:hover {
						color: #5b5b5b;
					}
				}
				p {
					margin-bottom: 10px;
					@media screen and (max-width: 767px) {
						font-size: 13px;
						margin-bottom: 0;
						&:first-child {
							margin-bottom: 5px;
						}
						&:last-child {
							display: none;
						}
					}
				}
			}
		}
	}
	.con_get_touch {
		position: relative;
		.box_img_touch {
			margin-bottom: 0;
			@media screen and (max-width: 767px) {
				.vc_single_image-wrapper {
					display: grid;
					justify-content: right;
				}
				img {
					height: 200px;
					max-width: initial;
					width: initial;
				}
			}
		}
		.content_touch {
			@media screen and (min-width: 768px) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
			}
			@media screen and (max-width: 767px) {
				padding: 25px 0 0;
				text-align: center;
				.btn-enterprise {
					.btn-primary {
						background: #151515;
						color: #fff;
					}
				}
			}
			.container {
				position: relative!important;
				float: inherit!important;
				.wpb_content_element {
					@media screen and (max-width: 991px) {
						margin-bottom: 15px;
					}
				}
				.txt_desc_touch {
					color: #fff;
					line-height: 1.3;
					font-size: 28px;
					font-weight: bold;
					@media screen and (max-width: 991px) {
						font-size: 16px;
						font-weight: normal;
					}
					@media screen and (max-width: 767px) {
						font-size: 14px;
						color: #151515;
					}
				}
				.btn_tmp_white {
					margin-bottom: 0;
					a {
						min-width: 250px;
					}
				}
			}
		}
	}
}