/**-------------------------------
	Define CSS - Common
----------------------------------**/
.tmp-fullpage {
	.container {
		margin-left: auto!important;
		margin-right: auto!important;
		>.wpb_column>.vc_column-inner {
			padding: 0;
		}
	}
	.tomo-page-title-banner {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 200px;
		@include media-breakpoint-down(md) {
		&.justify-end {
			justify-content: end;
		}
			min-height: 100px;
			img {
				max-width: inherit;
				height: 120px;
			}
		}
		&.contact {
			background-image: url(assets/images/contact.jpg);
		}
	}
	ol {
		margin-left: 0;
		padding-left: 15px;
		li {
			margin: 5px 0;
		}
	}
	h4.vc_custom_heading {
		@include media-breakpoint-down(sm) {
			font-size: 18px;
			text-align: left!important;
		}
		@include media-breakpoint-down(xs) {
			font-size: 16px;
		}
	}
}
