/*============================
common bounty
============================*/
.page-tomo-bounty {
	min-height: 100vh;
	padding-bottom: 80px;
	position: relative;
	@media only screen and (min-width: 1025px) {
		.nice-select {
			float: right;
		}
	}
	.site-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
.tomo-job-title {
	font-size: 24px;
	margin: 15px 0;
	font-family: bai jamjuree,sans-serif;
	@include media-breakpoint-down(sm) {
		margin: 15px 0 30px;
		font-size: 18px;
	}
}
//header-bounty
.header-bounty {
	padding: 25px 0 50px;
	@include media-breakpoint-down(sm) {
		padding: 15px 0;
	}
	a {
		display: inline-block;
	}
	.row {
		justify-content: center;
		align-items: center;
		.logo-tomo {
			img {
				height: 40px;
				@include media-breakpoint-down(sm) {
					height: 34px;
				}
			}
		}
		.main-title-page {
			font-size: 24px;
			text-align: center;
			margin: 0;
			font-family: 'Bai Jamjuree', sans-serif;
			@include media-breakpoint-down(md) {
				text-align: right;
				font-size: 18px;
			}
			@include media-breakpoint-down(xs) {
				font-size: 16px!important;
			}
		}
		.check-time {
			text-align: right;
			strong {
				font-size: 24px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 10px;
			}
		}
	}
}

/*============================
	page list bounty
============================*/
/**box-faq-bounty**/
.dataTables_filter{
	display: none;
}
.dataTables_paginate{
	text-align: right;
	a{
		margin-left: 10px;
		cursor: pointer;
		width: 20px;
	    height: 20px;
	    display: inline-block;
	    vertical-align: middle;
	    line-height: 20px;
	    text-align: center;
		&.current{
			background: #2C2F50;
		    cursor: auto;
		}
		&.previous,&.next{
			width: auto;
			height: auto;
		}
	}
}
.box-faq-bounty {
	border-top: 1px solid #2b2d46;
	margin: 50px 0 0;
	padding: 15px 0;
	@include media-breakpoint-down(md) {
		margin: 15px 0;
		padding: 15px 0
	}
	a {
		color: #2a8bff;
		text-decoration: underline;
	}
}
/**box-widget-bounty**/
.box-widget-bounty {
	.widget-cate {
		margin-top: 50px;
		h2 {
			font-family: 'Bai Jamjuree',sans-serif;
			font-size: 18px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin: 10px 0;
				padding-left: 30px;
				position: relative;
				font-style: italic;
				cursor: pointer;
				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid #3c4776;
					border-radius: 50px;
					position: absolute;
					left: 2px;
					top: 6px;
				}
				&.active {
					color: #fff;
					font-weight: bold;
					&:before {
						background: #2a8bff;
						border: 1px solid #2a8bff;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		display: flex;
		.widget-cate {
			margin: 0 15px 15px 0;
			select {
				background: transparent;
				border: 1px solid #3c4776;
				padding: 7px;
				border-radius: 5px;
				font-size: 12px;
			}
			h2 {
				font-size: 14px;
				font-weight: normal;
				margin-bottom: 15px;
			}
		}
	}
}
.list-bounty {
	color: #7777a7;
	margin: 0;
	th,td {
		font-weight: normal;
		&:last-child {
			text-align: right;
		}
	}
	thead {
		display: block;
		tr {
			align-items: center;
			display: grid;
			grid-template-columns: auto auto 60% 20%;
			padding: 0 30px;
			@include media-breakpoint-down(sm) {
				grid-template-columns: auto auto 55% 23%;
				padding: 15px 10px 0;
				font-size: 12px;
			}
			th {
				&:last-child {
					@include media-breakpoint-up(md) {
						padding-left: 25px;
					}
				}
			}
		}
	}
	tbody {
		tr {
			background: #2c2f50;
			border-radius: 5px;
			align-items: center;
			display: grid;
			grid-template-columns: auto auto 60% 20%;
			padding: 8px 30px;
			margin: 20px 0;
			overflow: hidden;
			transition: all .3s ease;
			&:hover {
				background: #373a5a;
			}
			@include media-breakpoint-down(sm) {
				grid-template-columns: auto auto 55% 23%;
				padding: 10px;
				margin: 15px 0;
			}
			td {
				&:last-child {
					color: #fff;
					@include media-breakpoint-up(md) {
						padding-left: 25px;
						font-size: 16px;
					}
				}
			}
		}
	}
	.logo-project {
		color: #fff;
		display: inline-block;
		/*text-decoration: underline;*/
		img {
			margin-right: 15px;
			width: 34px;
		}
		span {
			color: #ccc;
			display: none;
		}
	}
	.txt-tile {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	@include media-breakpoint-down(sm) {
		font-size: 12px;
		.logo-project {
			text-align: center;
			img {
				margin-right: 0;
				width: 24px;
				display: block;
				margin: 0 auto;
			}
			span {
				display: none;
			}
		}
		.txt-tile {
			line-height: 1.3;
			display: inline-block;
		}
	}
}
.txt-status {
	font-size: 12px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.tm-avatar {
		font-size: 10px;
	}
	span {
		margin-right: 15px;
		display: flex;
		align-items: center;
		&:last-child {
			margin-right: 0;
		}
		a {
			margin-left: 3px!important;
		}
		span {
			margin-right: 3px!important;
		}
		@include media-breakpoint-down(sm) {
			margin-right: 10px;
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
		}
	}
}
.stt-active {
	color: #50e3c2;
	@include media-breakpoint-down(sm) {
		font-size: 11px;
	}
}
.stt-progress {
	color: #ffa04d;
	@include media-breakpoint-down(sm) {
		font-size: 11px;
	}
}
.stt-completed {
	color: #2a8bff;
	@include media-breakpoint-down(sm) {
		font-size: 11px;
	}
}
.paging-bounty {
	margin: 0 0 20px;
	.pagination {
		align-items: center;
		padding: 0;
		margin: 0;
	}
	ul {
		li {
			margin: 5px;
			color: #fff;
			&.stt-page {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 50px;
				@include media-breakpoint-down(sm) {
					margin-right: 25px;
				}
				span {
					border: 1px solid #3c4776;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;
					height: 34px;
					width: 60px;
					text-align: center;
					margin: 0 15px;
				}
			}
			&.page-item {
				a {
					border: 1px solid #3c4776;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;
					height: 34px;
					width: 34px;
					text-align: center;
					font-size: 20px;
				}
			}
		}
	}
}
/**footer-bounty**/
.not-bg {
	background: transparent!important;
	border-top: 1px solid #2b2d46;
}
.footer-bounty {
	display: flex;
	justify-content: center;
	align-items: center;
	.main-menu .menu>li>a {
		height: 40px;
		line-height: 40px;
		padding: 0 0 0 50px;
	}
	.site-info {
		padding: 15px 0;
	}
	.logo-tomo-bounty {
		a {
			display: inline-block;
			img {
				width: 130px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 5px 0;
		align-items: center;
		.menu-bounty {
			text-align: left;
		}
		.logo-tomo-bounty {
			width: 68px;
			a {
				display: inline-block;
				img {
					max-width: 40px;
					padding: 10px 0;
				}
			}
		}
		.site-info {
			padding: 0;
			.main-menu {
				display: block;
				.menu>li>a {
					padding: 0 7px;
					line-height: 1.6;
					height: inherit;
				}
			}
		}
	}
}

/*============================
	page detail
============================*/
.container-detail-bounty {
	max-width: 900px;
	margin: 0 auto;
	.box-form-wrap{
		position: fixed;
	    z-index: 9;
	    top: 5%;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    display: none;
	    &:before{
	    	content:'';
	    	display: block;
	    	position: absolute;
			background: #1c2139d6;
			width: 100%;
			height: 100%;
	    }
	    .close{
		    position: absolute;
		    right: 10%;
		    color: #fff;
		    width: 30px;
		    height: 30px;
		    text-align: center;
		    line-height: 30px;
		    font-size: 18px;
		    font-weight: bold;
	    }
		.box-form-detail {
			max-width: 650px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
		}
	}
	
	.tomo-bounty-title {
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 1.5em;
		font-family: bai jamjuree,sans-serif;
		@include media-breakpoint-down(sm) {
			border-top: 1px solid #292b43;
			padding-top: 1.5em;
		}
	}
	.box-content-detail {
		margin: 50px 0;
		>.row>div {
			&:first-child {
				@include media-breakpoint-up(md) {
					padding-left: 30px;
					border-left: 1px solid #292b43;
				}
			}
			&:last-child {
				@include media-breakpoint-up(md) {
					padding-right: 30px;
				}
			}
		}
		.txt-detail {
			line-height: 1.7;
			color: #ccc;
		}
		table {
			color: #fff;
			tr {
				display: grid;
				grid-template-columns: 30px auto 50%;
				padding: 15px 0;
				@include media-breakpoint-down(sm) {
					grid-template-columns: 30px auto 60%;
					padding: 5px 0;
				}
			}
			td {
				line-height: 1.3;
				&:first-child {
					span {
						color: #ffa04d;
					}
				}
			}
		}
	}
	.tomo_btn_grad {
		margin-bottom: 30px;
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
		a {
			background: #2a8bff;
			border-radius: 10px;
			color: #fff;
			display: block;
			font-size: 18px;
			line-height: 22px;
			padding: 12px 15px;
			text-align: center;
			text-transform: uppercase;
			font-family: bai jamjuree,sans-serif;
			&:hover {
				background: #2171d0;
			}
		}
	}
	.logo-project {
		color: #2a8bff;
		display: inline-block;
		text-decoration: underline;
		img {
			margin-right: 15px;
			width: 24px;
		}
	}
}