/**-------------------------------
	Define CSS - Common
----------------------------------**/

@keyframes aniOval {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes aniOval2 {
    0% {
        transform: translateY(200px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(200px);
    }
}

@keyframes aniOval3 {
    0% {
        transform: translate(100px, 50px);
    }
    50% {
        transform: translate(-100px, -50px);
    }
    100% {
        transform: translate(100px, 50px);
    }
}

.txt-sp-center {
    @include media-breakpoint-down(sm) {
        text-align: center!important;
    }
}

.st_oval>div {
    position: relative;
    z-index: 0;
    &:before {
        content: '';
        width: 300px;
        height: 300px;
        opacity: 0.15;
        border: solid 50px #67478c;
        border-radius: 50%;
        position: absolute;
        right: -100px;
        top: -100px;
        z-index: -1;
        animation: aniOval 20s infinite;
        @include media-breakpoint-down(md) {
            height: 150px;
            width: 150px;
            right: -50px;
            top: -100px;
            border: solid 25px #67478c;
        }
    }
}

.z_index {
    position: relative;
    z-index: 3;
}

.stake_table {
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(32, 37, 51, 0.07);
    background-color: #ffffff;
    padding: 3.5em 2em 2em;
    @include media-breakpoint-down(sm) {
        padding: 1em 0;
        margin: 0!important;
        table {
            display: block;
            overflow-x: scroll;
            white-space: nowrap;
        }
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    .table {
        margin: 0;
        th,
        td {
            padding: 1.5rem .7rem
        }
        th {
            font-weight: normal;
            color: #350d98;
        }
        td {
            text-align: center;
            color: #565A66;
        }
    }
}

.height-2 {
    max-height: 100px;
}

.height-3 {
    max-height: 45px;
    @include media-breakpoint-down(sm) {
        max-height: 35px;
    }
}

//
.main-3-box {
    @include media-breakpoint-up(md) {
        display: flex;
    }
    >div {
        @include media-breakpoint-up(lg) {
            padding: 15px 25px;
            float: inherit;
        }
        @include media-breakpoint-down(md) {
            padding: 15px;
        }
        >div {
            border-radius: 8px;
            box-shadow: 0 0 50px 0 #e5e5e5;
            height: 100%;
            padding: 50px!important;
            @include media-breakpoint-down(md) {
                padding: 30px 15px!important;
            }
            .wpb_raw_code {
                margin-bottom: 25px;
            }
            .wpb_text_column {
                margin-bottom: 0px;
            }
        }
    }
}

.page-template-tmp-staking {
    .max-width-370 {
        max-width: 370px;
        margin: auto;
    }
    .box-shadow {
        border-radius: 8px;
        box-shadow: 0 0 50px 20px rgba(32, 37, 51, 0.05);
        background-color: #ffffff;
        padding: 2em;
    }
    .vc_custom_heading br {
        display: inline;
    }
    .hentry {
        margin-bottom: 0;
    }
    .site-content {
        background: #fff!important;
        padding: 0!important;
    }
    .entry-content {
        margin: 0;
    }
    .bg_gr_top_row {
        background: #202533;
        padding: 15em 0 18em;
        overflow: hidden;
        position: relative;
        z-index: 0;
        @include media-breakpoint-down(md) {
            padding: 5em 0 10em;
        }
        @include media-breakpoint-down(sm) {
            padding: 5em 0 7em;
            margin-bottom: 1em;
        }
        &:after {
            background: #fff;
            content: '';
            width: 100%;
            height: 200px;
            left: 0;
            bottom: -115px;
            position: absolute;
            z-index: -1;
            transform: rotate(-4deg);
            @include media-breakpoint-down(md) {
                height: 120px;
                bottom: -40px;
            }
            @include media-breakpoint-down(sm) {
                height: 120px;
                bottom: -80px;
            }
        }
    }
    .box-txt-top {
        color: #9eaacc;
        input::placeholder {
            color: #fff;
            opacity: .05;
        }
        input,
        .span {
            border: 0;
            color: #478cf2;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 44px;
            padding: 0 5px;
            background-color: transparent;
            text-align: center;
        }
        .span {
            color: #ffaf00;
        }
        .box_input {
            overflow: hidden;
            border-radius: 4px;
            background-color: #2f364c;
            #numberTomo {
                width: calc(100% + 20px);
            }
        }
        img {
            margin-right: 15px;
        }
        @include media-breakpoint-down(sm) {
            >div>div {
                margin-bottom: 10px;
            }
        }
        .txt_tooltips {
            background-color: #fff;
            color: #333;
            position: absolute;
            width: 300px;
            padding: 1em;
            bottom: 105%;
            left: 50px;
            border-radius: 5px;
            opacity: 0;
            z-index: -1;
            transition: all .3s ease;
            &:before {
                content: "";
                position: absolute;
                border-left: 7px solid transparent;
                border-top: 7px solid #fff;
                border-bottom: 7px solid transparent;
                border-right: 7px solid transparent;
                bottom: -14px;
                left: 25px;
                width: 10px;
            }
        }
        &:hover {
            .txt_tooltips {
                opacity: 1;
                z-index: 1;
            }
        }
    }
    //
    .tmp-staking {
        .container {
            margin-left: auto!important;
            margin-right: auto!important;
            >.wpb_column>.vc_column-inner {
                padding: 0;
            }
        }
    }
    .z_txt_heading {
        color: #000;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 20px;
        @include media-breakpoint-down(sm) {
            font-size: 15px;
        }
    }
    .z_txt_subtitle {
        color: #4c4c4c;
    }
    .z_protocol {
        color: #693AA2;
        padding: 25px 0 0 0;
        margin: 0 0 0 25px;
        @include media-breakpoint-down(lg) {
            padding: 0;
        }
        @include media-breakpoint-down(sm) {
            margin-top: -30px;
        }
        li {
            padding: 15px 0 0;
        }
    }
    .btn-staking-yellow {
        border-radius: 8px;
        background-color: #ffaf00;
        color: #444B64;
        display: block;
        padding: .8em 2em;
        text-align: center;
        transition: all .5s ease;
        &:hover {
            background-color: #fab725;
        }
    }
    .btn-staking-green {
        border-radius: 8px;
        background-color: #350d98;
        color: #fff;
        display: block;
        padding: .8em 2em;
        text-align: center;
        transition: all .5s ease;
        &:hover {
            background-color: #5224c7;
        }
    }
    .bg_cta_row {
        >div {
            background: #202533;
            padding: 5em 0;
            z-index: 0;
            position: relative;
            @include media-breakpoint-down(sm) {
                padding: 3em 0;
            }
            &:after {
                background: #202533;
                content: '';
                width: 100%;
                height: 200px;
                left: 0px;
                top: -100px;
                position: absolute;
                transform: rotate(-5deg);
                z-index: -1;
                @include media-breakpoint-down(sm) {
                    height: 90px;
                    top: -50px;
                }
            }
        }
        .wpb_content_element {
            margin-bottom: 0;
        }
    }
    .container_staking {
        .content-tab-staking {
            .tab-pane {
                display: none;
                &.active {
                    display: block;
                }
            }
            .content-tab--tomomaster {
                .box_video {
                    max-width: 100%;
                    margin: 0 auto;
                    background: url(assets/images/img-mockup-pc.png) no-repeat top center;
                    background-size: 100%;
                    padding: 1.8em 1.6em 11.4em;
                    @include media-breakpoint-down(sm) {
                        padding: .8em .6em 5.4em;
                    }
                    video {
                        max-width: 100%;
                        background-size: 100%;
                    }
                }
            }
            .content-tab--tomowallet {
                .box_video {
                    width: 300px;
                    margin: 0 auto;
                    position: relative;
                    z-index: 0;
                    &:after {
                        background: url(assets/images/img-mockup-sp.png) no-repeat top center;
                        background-size: 100%;
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                    video {
                        padding: .8em 1.2em;
                        width: 100%;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    .tomochain-taking-tab {
        @include media-breakpoint-down(sm) {
            margin: 0 0 3em;
        }
        >div {
            cursor: pointer;
        }
        .tab-tomomaster {
            padding: 4em 1.5em 1em;
            word-break: break-word;
            position: relative;
            z-index: 0;
            @include media-breakpoint-down(sm) {
                padding: 2em 1em;
            }
            &:before {
                content: '01';
                font-size: 90px;
                position: absolute;
                right: 15px;
                color: #350d98;
                font-weight: bold;
                opacity: 0.1;
                z-index: -1;
                font-family: 'Bai Jamjuree', sans-serif;
            }
        }
        .tab-tomowallet {
            padding: 4em 1.5em 1em;
            position: relative;
            z-index: 0;
            word-break: break-word;
            @include media-breakpoint-down(sm) {
                padding: 2em 1em;
            }
            &:before {
                content: '02';
                font-size: 90px;
                position: absolute;
                right: 15px;
                color: #350d98;
                font-weight: bold;
                opacity: 0.1;
                z-index: -1;
                font-family: 'Bai Jamjuree', sans-serif;
            }
        }
        .active {
            border-radius: 8px;
            box-shadow: 0 0 50px 20px rgba(32, 37, 51, 0.05);
            background-color: #ffffff;
        }
    }
    // staking_faq
    .staking_faq {
        ul {
            margin: 0;
            padding-left: 25px;
            li {
                margin-bottom: 15px;
            }
        }
        .vc_toggle {
            border-radius: 8px;
            box-shadow: 0 0 50px 30px rgba(236, 233, 241, 0.4);
            padding: 15px;
            .vc_toggle_content {
                margin-bottom: 0;
                p {
                    margin: 0;
                }
            }
        }
        i {
            display: none!important;
        }
        .vc_toggle_title {
            padding-left: 0!important;
        }
        .vc_toggle_content {
            padding-left: 0!important;
            color: #4c4c4c;
            font-size: 16px;
        }
        .accordion {
            background: transparent;
            color: #000;
            cursor: pointer;
            width: 100%;
            border: 0;
            padding-right: 30px;
            text-align: left!important;
            outline: none;
            transition: all .2s ease;
            position: relative;
            line-height: 1.5;
            font-size: 18px;
            font-weight: 500;
            &:after {
                content: "\e903";
                color: #000;
                font-size: 6px;
                position: absolute;
                top: 10px;
                right: 0;
                font-family: "tomochain";
                transition: all .2s ease;
            }
        }
        .vc_toggle_active {
            .accordion {
                &:after {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}