.tomochain-dapp {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

    &__image {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        color: #66708a;
        margin-bottom: 10px;
    }

    &__description {
        margin-bottom: 25px;

        @include media-breakpoint-up(md) {
            text-align: justify;
        }
    }

    &__links {
        text-transform: uppercase;
        color: #6b6ced;

        a {
            letter-spacing: 0.05em;
            font-family: Quicksand;
            font-size: 14px;
            font-weight: 700;
            margin-left: 10px;
            margin-right: 10px;
            color: #6b6ced;
        }

        a:before {
            margin-right: 10px;
            @extend .fas;
        }

        a:hover {
            color: #72b8fd;
        }

        @include media-breakpoint-up(md) {
            a {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    &__run:before {
        content: fa-content($fa-var-arrow-right);
    }

    &__source:before {
        content: fa-content($fa-var-code);
    }
}

.tomochain-dapp--2 {
    .tomochain-dapp__image {
        border-radius: 10px;
        padding: 50px 30px;
        background-image: linear-gradient(-180deg, #434f74 0%, #333e61 87%);
        margin-bottom: 30px;

        img {
            max-width: 60%;
        }
    }

    .tomochain-dapp__description {
        text-align: left;
        line-height: 22px;
    }

    .tomochain-dapp__links {
        text-align: left;

        a {
            margin-left: 0;
            margin-right: 20px;
        }
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 80px;

        .tomochain-dapp__image {
            position: relative;
            padding: 20px;
            margin-bottom: 0;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .tomochain-dapp__info {
            padding-left: 30px;
        }

        .tomochain-dapp__description {
            text-align: justify;
        }

        html[lang="ja"] & {
            grid-template-columns: 22% 78%;
        }
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 25% 75%;

        .tomochain-dapp__image {
            align-self: start;
            min-height: 200px;
        }
    }
}
