h2.vc_custom_heading {
    @include media-breakpoint-down(sm) {
        font-size: 2em;
    }
}
.vc_custom_heading {
    /*font-weight: 200;*/
    font-family: 'Bai Jamjuree', sans-serif;

    &.text-align--right .heading-line {
        margin-left: auto;
    }

    &.text-align--center .heading-line {
        margin-left: auto;
        margin-right: auto;
    }

    &.fw-400 {
        font-weight: 400;
    }

    &.fw-500 {
        font-weight: 500;
    }

    .heading-line {
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 15px;
    }
    @include media-breakpoint-down(sm) {
        text-align: center!important;
        .heading-line {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
