.widget {
    margin: 0 0 1.5em;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
}

.widget_tomo_address {
    margin-bottom: 15px;

    .widget-title {
        font-size: 18px;
        font-weight: 400;
        color: #ebeaf5;
    }

    .address {
        font-weight: 300;
        line-height: 1.7;
        margin: 0 auto;
        max-width: 320px;
    }
}

.widget_tomo_sendgrid {
    margin-bottom: 0;

    .tomo-sendgrid-text {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;

        @extend %transit;

        &.show {
            margin-bottom: 15px;
        }
    }

    #tomo-sendgrid-form {
        position: relative;
        max-width: 70%;
        padding-top: 0 !important;
        margin: 0 auto;

        &.loading {
            #tomo-sendgrid-button:after {
                content: url(assets/images/loading-alt.svg);
            }
        }

        &.email_invalid {
            #tomo-sendgrid-button:after {
                content: fa-content($fa-var-exclamation);
                font-size: 16px;

                @extend .fas;
                @extend %transit;
            }
        }

        &.email_error_send {
            #tomo-sendgrid-button:after {
                content: fa-content($fa-var-times);
                font-size: 16px;

                @extend .fas;
                @extend %transit;
            }
        }

        &.email_sent,
        &.email_error_sent {
            #tomo-sendgrid-button:after {
                content: fa-content($fa-var-check);
                font-size: 16px;

                @extend .fas;
                @extend %transit;
            }
        }
    }

    #tomo-sendgrid-email {
        padding: 9px 50px 10px 25px;
    }

    #tomo-sendgrid-button {
        font-size: 0;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 50px;
        background-color: transparent;
    }

    #tomo-sendgrid-button:after {
        content: '\e901';
        font-size: 10px;
        color: #6a6beb;

        @extend %tm-icon;
    }

    @include media-breakpoint-up(lg) {

        .tomo-sendgrid-text,
        #tomo-sendgrid-form {
            max-width: 530px;
        }

        #tomo-sendgrid-email {
            font-size: 16px;
            padding: 15px 70px 15px 40px;
        }

        #tomo-sendgrid-button {
            padding-right: 40px;
        }

        #tomo-sendgrid-button:after {
            font-size: 12px;
        }
    }
}

