.widget {
    margin: 0 0 30px;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
}

.widget-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.widget_tomo_address {
    margin-bottom: 15px;

    .widget-title {
        font-size: 18px;
        color: #ebeaf5;
    }

    .addresses {
        font-weight: 300;
        line-height: 1.7;
        margin: 20px auto;

        .address {
            display: inline-block;
            vertical-align: top;
            max-width: 33.33%;
            width: 100%;
            padding: 0px 10px;
            @include media-breakpoint-between(md, lg) {
                max-width: calc(33.33% - 20px);
            }
            @include media-breakpoint-down(sm) {
                max-width: 100%;
                text-align: center;
                padding: 0;
                margin: 20px 10px;
            }
        }

        .address-title {
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}

.widget_tomo_sendgrid {
    margin-bottom: 0;
    .tomo-sendgrid-text {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        @extend %transit;
        &.show {
            margin-bottom: 15px;
        }
    }
    #tomo-sendgrid-form {
        position: relative;
        max-width: 90%;
        padding-top: 0 !important;
        margin: 0 auto;
        &.loading {
            #tomo-sendgrid-button:after {
                content: url(assets/images/loading-alt.svg);
            }
        }
        &.email_invalid {
            #tomo-sendgrid-button:after {
                content: fa-content($fa-var-exclamation);
                font-size: 16px;

                @extend .fas;
                @extend %transit;
            }
        }
        &.email_error_send {
            #tomo-sendgrid-button:after {
                content: fa-content($fa-var-times);
                font-size: 16px;
                @extend .fas;
                @extend %transit;
            }
        }
        &.email_sent,
        &.email_error_sent {
            #tomo-sendgrid-button:after {
                content: fa-content($fa-var-check);
                font-size: 16px;

                @extend .fas;
                @extend %transit;
            }
        }
    }
    #tomo-sendgrid-email {
        padding: 9px 30px 10px 15px;
    }
    #tomo-sendgrid-button {
        font-size: 0;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 30px;
        background-color: transparent;
    }
    #tomo-sendgrid-button {
        &:before {
            content: '';
            background: url(../tomochain/assets/images/arrow_normal.svg) no-repeat center;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &:after {
            content: '';
            background: url(../tomochain/assets/images/arrow_hover.svg) no-repeat center;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all .4s ease;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .tomo-sendgrid-text,
        #tomo-sendgrid-form {
            max-width: 530px;
        }
        #tomo-sendgrid-email {
            font-size: 14px;
            padding: 12px 70px 12px 40px;
        }
        #tomo-sendgrid-button {
            padding-right: 40px;
        }
        #tomo-sendgrid-button:after {
            font-size: 12px;
        }
    }
}

.widget_tomo_recent_posts {
    .recent-post {
        display: flex;
        padding-top: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #2a3452;
        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .recent-post__thumb {
        width: 40%;
        height: 80px;
        overflow: hidden;
        border-radius: 5px;
        @include media-breakpoint-down(sm) {
            border-radius: 3px;
        }
    }
    .recent-post__info {
        width: 60%;
        padding-left: 20px;
        p {
            font-size: 14px;
            line-height: 1.4;
            /*margin-top: -5px;*/
            margin-bottom: 5px;
            max-height: 40px;
            @include media-breakpoint-up(lg) {
                white-space: initial;
            }
        }
        .post-meta {
            font-size: 13px;
            color: #808aa9;
            &:before {
                font-family: 'Font Awesome 5 Free';
                content: "\f073";
                display: inline-block;
                vertical-align: baseline;
                font-size: 14px;
                margin-right: 5px;
            }
        }
    }
}

.widget_tomo_event {

    .tomo-event {
        display: flex;
        padding-top: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #2a3452;

        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    .tomo-event__thumb {
        width: 40%;
        height: 80px;
        overflow: hidden;
        border-radius: 5px;
        @include media-breakpoint-down(sm) {
            border-radius: 3px;
        }
    }

    .tomo-event__info {
        width: 60%;
        padding-left: 20px;

        p {
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 5px;
            max-height: 40px;

            @include media-breakpoint-up(lg) {
                white-space: initial;
            }
        }

        .event-meta {
            font-size: 13px;
            color: #808aa9;

            &:before {
                font-family: 'Font Awesome 5 Free';
                content: '\f073';
                display: inline-block;
                vertical-align: baseline;
                font-size: 14px;
                margin-right: 5px;
            }
        }
    }
}


.widget_search {
    position: relative;
    border-bottom: 1px solid #9eaacc;

    label {
        display: block;
        padding-right: 50px;
    }

    input[type=search] {
        background: transparent;
        border: 0;
        padding: 0;

        &::placeholder {
          color: #9eaacc;
          font-size: 14px;
        }
    }

    input[type=submit] {
        display: none;
    }

    &:after {
        content: '\e900';
        position: absolute;
        right: 0;
        top: 0;

        @extend %tm-icon;
    }
}
