@font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SFPro/sf-pro-text-bold.eot');
    src: url('assets/fonts/SFPro/sf-pro-text-bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SFPro/sf-pro-text-bold.woff') format('woff'),
         url('assets/fonts/SFPro/sf-pro-text-bold.ttf') format('truetype'),
         url('assets/fonts/SFPro/sf-pro-text-bold.svg#sf_pro_textbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SFPro/sf-pro-text-heavy.eot');
    src: url('assets/fonts/SFPro/sf-pro-text-heavy.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SFPro/sf-pro-text-heavy.woff') format('woff'),
         url('assets/fonts/SFPro/sf-pro-text-heavy.ttf') format('truetype'),
         url('assets/fonts/SFPro/sf-pro-text-heavy.svg#sf_pro_textheavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SFPro/sf-pro-text-light.eot');
    src: url('assets/fonts/SFPro/sf-pro-text-light.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SFPro/sf-pro-text-light.woff') format('woff'),
         url('assets/fonts/SFPro/sf-pro-text-light.ttf') format('truetype'),
         url('assets/fonts/SFPro/sf-pro-text-light.svg#sf_pro_textlight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SFPro/sf-pro-text-medium.eot');
    src: url('assets/fonts/SFPro/sf-pro-text-medium.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SFPro/sf-pro-text-medium.woff') format('woff'),
         url('assets/fonts/SFPro/sf-pro-text-medium.ttf') format('truetype'),
         url('assets/fonts/SFPro/sf-pro-text-medium.svg#sf_pro_textmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SFPro/sf-pro-text-regular.eot');
    src: url('assets/fonts/SFPro/sf-pro-text-regular.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SFPro/sf-pro-text-regular.woff') format('woff'),
         url('assets/fonts/SFPro/sf-pro-text-regular.ttf') format('truetype'),
         url('assets/fonts/SFPro/sf-pro-text-regular.svg#sf_pro_textregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SFPro/sf-pro-text-semibold.eot');
    src: url('assets/fonts/SFPro/sf-pro-text-semibold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SFPro/sf-pro-text-semibold.woff') format('woff'),
         url('assets/fonts/SFPro/sf-pro-text-semibold.ttf') format('truetype'),
         url('assets/fonts/SFPro/sf-pro-text-semibold.svg#sf_pro_textsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'tomochain';
    src:  url('assets/fonts/TomoChain/tomochain.eot?8rzt42');
    src:  url('assets/fonts/TomoChain/tomochain.eot?8rzt42#iefix') format('embedded-opentype'),
      url('assets/fonts/TomoChain/tomochain.ttf?8rzt42') format('truetype'),
      url('assets/fonts/TomoChain/tomochain.woff?8rzt42') format('woff'),
      url('assets/fonts/TomoChain/tomochain.svg?8rzt42#tomochain') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tm-"], [class*=" tm-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tomochain' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tm-android:before {
    content: "\e901";
  }
  .tm-apple:before {
    content: "\e902";
  }
  .tm-search:before {
    content: "\e900";
  }
.tm-chevron-left:before {
    content: "\e903";
}
.tm-chevron-right:before {
    content: "\e904";
}
.tm-times:before {
    content: "\e902";
}
.tm-angle-down:before {
    content: "\e900";
}
.tm-arrow-right:before {
    content: "\e901";
}

$font__main: 'Open Sans', 'Arial', 'sans-serif';
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
