body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #576284;

    @extend %transit;
}

body.info-opened {
    overflow: hidden;
}

body.info-opened:after {
    opacity: .8;
    z-index: 999;
}

.vc_row:before,
.vc_row:after {
    display: none;
}

.edit-link {
    display: none;
}

.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    text-align: center;
    height: 100%;
    width: 40px;
    z-index: 1;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    padding: 0;

    @extend %transit;

    &:hover,
    &:focus {
        color: $color__link-hover;
        background-color: transparent;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        line-height: 40px;
        display: inline-block;
        transform: translate(-50%, -50%);

        @extend %transit;
        @extend %tm-icon;
	}

    &.slick-prev {
        left: -20px;

        &:before {
            content:  '\e906';
        }
    }

    &.slick-next {
        right: -20px;

        &:before {
            content: '\e907';
        }
    }

    &.slick-disabled {
        opacity: 0;
    }

    @include media-breakpoint-up(md) {
        &.slick-prev {
            left: -30px;
        }

        &.slick-next {
            right: -30px;
        }
    }
}

.slick-slider:hover .slick-arrow:not(.slick-disabled) {
    opacity: 1;
    visibility: visible;
}

.slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 30px 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        width: 10px;
        margin-right: 10px;
        margin-left: 0;
        line-height: 1.5;
        height: initial;
        width: initial;
        padding: 0;
        cursor: pointer;
        background: none;

        @extend %transit;

        &:last-child {
            margin: 0;
        }

        button {
            font-size: 0;
            display: block;
            cursor: pointer;
            outline: 0;
            line-height: 0;
            border: 0;
            width: 10px;
            height: 10px;
            color: transparent;
            opacity: .2;
            padding: 0;
            -webkit-backface-visibility: hidden;
            border-radius: 50%;
            padding: 0;
            background-color: rgba(255, 255, 255, .4);

            &:focus {
                outline: 0
            }

            &:hover {
                opacity: .75
            }
        }

        &.slick-active {

            button {
                border-radius: 100%;
                opacity: 1;
                margin: 0;
                padding: 1px;
                background-image: linear-gradient(to bottom, #f78d7a 0%, #fac15e 100%);
            }

            button:after {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                background-color: #1b2038;
            }
        }
    }
}

.slick-slider {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.slick-slide:active {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}

[class*=hint--]:after {
    font-family: QuickSand !important;
    background-color: #272f4b !important;
}

.hint--top-left:before, .hint--top-right:before, .hint--top:before {
    border-top-color: #272f4b !important;
}

.slider-button {
    position: relative;
    background-image: linear-gradient(-123deg, #ffc44d 0%, #f66b50 100%);
    background-size: 400% 400%;
    animation: sliderButtonAnimation 3s ease infinite;

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        z-index: -1;
        border-radius: 6px;
        background-color: #272f4b;

        @extend %transit;
    }

    &:hover {
        color: #272f4b !important;
    }

    &:hover:before {
        width: 0;
    }

    &.slider-button-2:before {
        border-radius: 8px;
        background-color: #0d0c27 !important;
    }
}

.wpb_revslider_element.homepage-slider {
    min-height: 695px;

    &.homepage-slider--mainnet {

        // .tp-parallax-wrap:nth-child(24) .tp-caption {
        //     animation: smokeR1 10s 0s infinite;
        // }

        // .tp-parallax-wrap:nth-child(25) .tp-caption {
        //     animation: smokeR2 10s 1s infinite;
        // }

        // .tp-parallax-wrap:nth-child(26) .tp-caption {
        //     animation: smokeR1 10s 2s infinite;
        // }

        // .tp-parallax-wrap:nth-child(27) .tp-caption {
        //     animation: smokeR2 10s 3s infinite;
        // }

        // .tp-parallax-wrap:nth-child(28) .tp-caption {
        //     animation: smokeR1 10s 4s infinite;
        // }

        // .tp-parallax-wrap:nth-child(29) .tp-caption {
        //     animation: smokeR2 10s 5s infinite;
        // }

        // .tp-parallax-wrap:nth-child(30) .tp-caption {
        //     animation: smokeR1 10s 6s infinite;
        // }

        // .tp-parallax-wrap:nth-child(31) .tp-caption {
        //     animation: smokeR2 10s 7s infinite;
        // }

        // .tp-parallax-wrap:nth-child(32) .tp-caption {
        //     animation: smokeR1 10s 8s infinite;
        // }

        // .tp-parallax-wrap:nth-child(33) .tp-caption {
        //     animation: smokeR2 10s 9s infinite;
        // }
    }
}

// POSV PAGE
#posv-row {
    letter-spacing: 0.025em;
    margin-bottom: 60px;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}

#posv-row .wpb_column:first-child {
    position: relative;
    z-index: 2;
}

#posv-img {
    @include media-breakpoint-up(md) {
        position: relative;
        z-index: 0;

        &:before {
            content: '';
            position: absolute;
            top: -30px;
            left: -30px;
            width: 100%;
            height: 300px;
            background-image: linear-gradient(-176deg, #2c3553 0%, rgba(27, 32, 56, 0) 100%);
            box-shadow: 10px 10px 20px 10px #151a2d;
            border-radius: 6px;
            z-index: -1;
        }
    }

    @include media-breakpoint-up(lg) {
        &:before {
            width: 500px;
            height: 400px;
            left: -100px;
        }
    }

    @include media-breakpoint-up(xl) {
        margin: 0 -35px;

        html[lang="ja"] & {
            margin-right: -100px;

            &:before {
                left: -190px;
            }
        }

        &:before {
            width: 700px;
            height: 500px;
            left: -160px;
        }
    }
}

#tps-row {
    @include media-breakpoint-up(lg) {
        margin-bottom: 90px;
    }
}

#tps-image-col {
    @include media-breakpoint-down(sm) {
        order: 2;
        margin-bottom: 50px;
    }
}

#tps-column {
    margin-bottom: 60px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 90px;
    }
}

.vc_separator {
    margin-bottom: 0 !important;

    .vc_sep_line {
        border: none !important;
        background-color: transparent !important;
    }

    .vc_sep_holder {
        height: 2px !important;
    }

    .vc_sep_holder_l {
        height: 2px;
        background-image: linear-gradient(90deg, #181631 0%, #fcb168 51%, #181c34 100%);
    }
}

#double-validation-row {
    padding-top: 60px !important;
    padding-bottom: 60px !important;

    @include media-breakpoint-up(md) {
        max-height: 850px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 0 !important;
    }
}

#double-validation-column {

    .vc_column-inner {
        padding-right: 0;
    }


    @include media-breakpoint-up(lg) {
        .wpb_single_image {
            padding-bottom: 150px;
        }
    }
}

#double-validation-text {
    letter-spacing: .05em;
}

#testnet-row {
    padding-top: 50px;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }

    @include media-breakpoint-only(md) {
        .tomochain-lottie {
            text-align: center;

            svg {
                max-width: 420px;
            }
        }
    }
}


// TEAM PAGE
body.about-us-page {

    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    article.page > .entry-content {
        margin-top: 0;
    }

    &.admin-bar .site-header {
        top: 32px;
    }
}

#about-us-row {
    padding-top: 135px;
    padding-bottom: 100px;

    @include media-breakpoint-up(sm) {
        padding-bottom: 200px;
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 250px;

        #about-us-text-left,
        #about-us-text-right {
            max-width: 300px;
        }

        #about-us-text-left {
            position: relative;
        }

        #about-us-text-left:after {
            content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACBCAYAAAABpdBRAAAABGdBTUEAALGPC/xhBQAAAVNJREFUKBUtUEtOw0AM9TxPElCkblhzpN6pd+ptOAArugBUqUnGHt6bsrEcv+/ELpcLcL1+Om63D8fp9O6I9bFge5hjqavj2O+OdZ0qetgMx+woi1egdEfPnIGpOiZDRZmcqHGgYIZ5qahGkYnsqJRVTOjdKsgiGdRSuMBQpOUNgkohpU5YgE7ARqLxJpgEn6ml0hgHL0NWdWMk02k5bpzyXYaGtwEo6OkihYIok4uKg8X5QRcTb5SUjMuwV7WRNm58TGQeyOwN1ntwS43YtCX/EIE0Aj2ykRy7nj8ovHXdInmTrMuAY/BICZLNiigtaD9kVJC7I/tQ6NaDo+X21OaoES312wMtBCjcVIN1Fc7NkrksNBqEfkQjubGLFaKNPKoaTfmZff8H+sG0w+jnAkgjsMvF+d7cuBU39Tvo19hvfuHYtX3dvze8/uyBt7ffwPl8jj/65vCDCrqFogAAAABJRU5ErkJggg==');
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%);
        }
    }

    @include media-breakpoint-up(lg) {

        #about-us-text-left,
        #about-us-text-right {
            max-width: 410px;
        }

        #about-us-text-left:after {
            right: -20px;
        }
    }

    @include media-breakpoint-up(xl) {
        #about-us-text-left,
        #about-us-text-right {
            max-width: 500px;
        }

        #about-us-text-left:after {
            right: -25px;
        }

        html[lang="ja"] & {
            #about-us-text-left,
            #about-us-text-right {
                max-width: 100%;
            }

            #about-us-text-left:after {
                right: 15px;
            }
        }
    }
}

#dapps-row {
    position: relative;
    padding-top: 100px;

    &:before {
        content: '';
        position: absolute;
        top: 40px;
        left: 100px;
        height: 10px;
        width: 10px;
        background-color: #43c7df;
        border-radius: 3px;
        animation: glowingColor1 3s infinite, translate1 10s linear infinite;
    }

    &:after {
        position: absolute;
        top: 50px;
        left: 30px;
        height: 4px;
        width: 4px;
        background: #ff7db6;
        border-radius: 3px;
        animation: glowingColor2 4s infinite, translate2 15s linear infinite;
    }

    > .vc_column_container {
        position: static;
    }

    > .vc_column_container:before {
        content: '';
        position: absolute;
        top: 30px;
        right: 30%;
        height: 10px;
        width: 10px;
        background-image: linear-gradient(215deg, rgb(79, 185, 255) 0%, rgb(4, 108, 224) 100%);
        border-radius: 2px;
        animation: glowingColor8 3s infinite, translate3 20s linear infinite;
    }

    > .vc_column_container:after {
        content: '';
        position: absolute;
        top: 40px;
        right: 100px;
        height: 6px;
        width: 6px;
        background: #ffab6e;
        border-radius: 3px;
        animation: glowingColor3 3s infinite, translate4 20s linear infinite;
    }

    @include media-breakpoint-up(sm) {
        &:before {
            left: auto;
            right: 50%;
        }

        &:after {
            left: auto;
            right: 40%;
        }
    }
}

.tomochain-lottie.dapp-image {
    @include media-breakpoint-only(sm) {
        text-align: center;

        svg {
            max-width: 400px;
        }
    }
    @include media-breakpoint-up(lg) {
        text-align: right;

        svg {
            max-width: 400px;
        }
    }
}

.exchanges-inner-row {
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
}

.tomochain-list.remove-p {

    p {
        display: none;
    }

    pre {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.7;
        background-color: transparent;
        padding: 0;
        margin-top: -1px;
        margin-left: -10px;
        margin-bottom: 0;
    }
}

.tomochain-button {
    min-width: 190px;
    @extend .tomochain-team__see-all;
}

body.page-template-revslider-page-template {
    height: 100vh;;
    overflow: hidden;
    background-image: linear-gradient(-225deg, #272F4B 0%, #1A1F36 42%, #15152D 82%, #211841 100%) !important;

    > div {
        padding: 0 15px;
    }

    > div,
    #subscribe-row {
        height: 100%;
    }

    #subscribe-row > .wpb_column {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vc_custom_heading {
        margin: 0 auto;
        max-width: 620px;
    }

    #copyright-bottom {
        position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translateX(-50%);
    }
}

.tomochain-team.five-columns .tomochain-team__wrapper {
    @include media-breakpoint-up(lg) {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

#video-row {
    transform: translateY(-50%);
}

.wpim-marker {

    .wpim-infowindow {
        color: #fff;
        border-radius: 6px;
        background-image: linear-gradient(0deg, #2a3452 0%, #191d34 100%);

        p {
            margin-bottom: 0;
        }
    }

    .wpim-infowindow--top:before {
        border-top-color: #2a3452;
    }

    .wpim-infowindow--bottom:before {
        border-bottom-color: #2a3452;
    }

    .wpim-infowindow--left:before {
        border-left-color: #2a3452;
    }

    .wpim-infowindow--right:before {
        border-right-color: #2a3452;
    }

    .wpim-infowindow__close {
        background-color: transparent;
    }

    .wpim-infowindow__close:before,
    .wpim-infowindow__close:after {
        height: 2px;
        background-color: #ebeaf5;
    }

    .wpim-infowindow__inner {
        border: none !important;
    }
}
