.nice-select {
    font-family: 'Quicksand';
    text-transform: lowercase;
    padding-right: 15px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &:after {
        content: '\e900';
        font-size: 5px;
        position: absolute;
        top: 50%;
        left: 0;
        right: auto;
        width: auto;
        height: auto;
        border: none;
        pointer-events: none;
        color: #6a6beb;
        transform: translateY(-50%);
        margin-top: 0;

        @extend %tm-icon;
        @extend %transit;
    }


    .list {
        text-transform: lowercase;
        border-radius: 0;
        top: 120%;
        width: 100%;
        min-width: 120px;
        transition-duration: .5s;
        z-index: 999;
        margin: 0;
        transform: translateY(0);
        background-color: transparent;
    }

    &.open .list {
        top: 100%;
    }
}

.nice-select.open:after {
    transform: rotate(0) translateY(-50%);
}

.nice-select .current {
    @extend %transit;
}

.nice-select .option {
    display: block;
    min-height: 0;
    line-height: initial;
    padding: 5px 15px;
    color: #434f73;

    @extend %transit;

    &:hover,
    &.focus,
    &.selected.focus {
        color: $color__link-hover;
        background-color: transparent;
    }

    &:hover {
        transform: translate(5px);
    }

    &.selected {
        position: relative;
        font-weight: 400;
    }
}
