/* Fade Out Up & Down small for site-menu */
@-webkit-keyframes fadeOutDownSmall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

@keyframes fadeOutDownSmall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

.fadeOutDownSmall {
    animation-name: fadeOutDownSmall;
}

@-webkit-keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUpSmall {
    animation-name: fadeInUpSmall;
}

@keyframes roadmapGlowing {
    0% {box-shadow: 0 0 -10px #ffb567;}
    40% {box-shadow: 0 0 20px #ffb567;}
    60% {box-shadow: 0 0 20px #ffb567;}
    100% {box-shadow: 0 0 -10px #ffb567;}
}

@-webkit-keyframes roadmapAnimation {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@-moz-keyframes roadmapAnimation {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@keyframes roadmapAnimation {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

@-webkit-keyframes sliderButtonAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes sliderButtonAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes sliderButtonAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Slide in for team meberm info */
@-webkit-keyframes team-member-info-slide-in {

    0% {
        -webkit-transform: translate3d(-40px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes team-member-info-slide-in {

    0% {
        -moz-transform: translate3d(-40px, 0, 0);
    }

    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@keyframes team-member-info-slide-in {

    0% {
        -webkit-transform: translate3d(-40px, 0, 0);
        -moz-transform: translate3d(-40px, 0, 0);
        -ms-transform: translate3d(-40px, 0, 0);
        -o-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
