/* Fade Out Up & Down small for site-menu */
@-webkit-keyframes fadeOutDownSmall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

@keyframes fadeOutDownSmall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

.fadeOutDownSmall {
    animation-name: fadeOutDownSmall;
}

@-webkit-keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUpSmall {
    animation-name: fadeInUpSmall;
}

@keyframes roadmapGlowing {
    0% {box-shadow: 0 0 -10px #ffb567;}
    40% {box-shadow: 0 0 20px #ffb567;}
    60% {box-shadow: 0 0 20px #ffb567;}
    100% {box-shadow: 0 0 -10px #ffb567;}
}

@-webkit-keyframes roadmapAnimation {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@-moz-keyframes roadmapAnimation {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@keyframes roadmapAnimation {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

@keyframes fadeInUpTomo {
    from {
        opacity: 0;
        transform: translate3d(0, 25%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.wpb_fadeInUp,
.fadeInUp {
    animation-name: fadeInUpTomo !important;
}
